<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap
    /4.1.3/css/bootstrap.min.css" integrity="sha384-
    MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkF
    OJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?
    family=Merriweather:400,700" rel="stylesheet"
    type="text/css">
</head>
<body>
    <P>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos error aut laborum fugit, reiciendis ducimus et aliquid, harum atque consequatur quia ratione voluptatum non nemo, corrupti eligendi mollitia. Maxime, suscipit.
    </P>
    <a href="sharks.html">Sharks >w<</a>
</body>
</html>